body {
	font-family: 'Roboto', sans-serif;
	background-color: lightsalmon;
	display: flex;
	flex-wrap: wrap;
}

.title {
	padding: 20px;
	text-align: center;
	color: midnightblue;
	background-color: ivory;
	box-shadow: 1px 0 3px midnightblue;
	width: 100%;
}

.side {
	width: 25%;
	height: calc(100vh - 78.4px);
	background-color: lightcoral;

	.search {
		text-align: center;
		color: midnightblue;
		background-color: ivory;
		padding: 20px 0;
		border-top: 4px solid midnightblue;
	}
}

.searchList {
	width: 75%;
	background-color: darkorange;
}
