body {
	font-family: 'Roboto', sans-serif;
	background-color: lightsalmon;
	display: flex;
	flex-wrap: wrap;
}

.title {
	padding: 20px;
	text-align: center;
	color: midnightblue;
	background-color: ivory;
	box-shadow: 1px 0 3px midnightblue;
	width: 100%;
}

.main {
	width: 75%;
	background-color: darkorange;
	.fetch-error {
		position: relative;
		left: 25%;
	}
}
